@import '../global.scss';

$toolbar-height: 56px;

.tea-footer-toolbar-layout {
  height: $toolbar-height;
}
.tea-footer-toolbar {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: $toolbar-height;
  padding: 0 24px;
  line-height: $toolbar-height;
  background: $component-background;
  border-top: 1px solid $border-color-split;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.03);
  text-align: center;
  &::after {
    display: block;
    clear: both;
    content: '';
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  button + button {
    margin-left: 8px;
  }
}
