@import '../../../global.scss';

.tea-form-err-message {
  color: $red-9;
  font-size: 14px;
  position: absolute;
}
.ant-tooltip.error-tip {
  z-index: 99;
  .ant-tooltip-arrow {
    &::before {
      background-color: $red-6;
    }
  }
  .ant-tooltip-inner {
    background-color: $red-6;
  }
}
