@import '../../../global.scss';

.tea-upload-error-modal {
  .ant-modal-confirm-content {
    margin: 0 !important;
  }
  .tea-upload-error-list {
    padding: 8px;
    list-style: none;
    max-height: 200px;
    overflow: auto;
    margin-top: 8px;
    margin-bottom: -10px;
    color: $red-8;
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px rgba($color: $text-color, $alpha: 0.28) solid;
      padding: 0 8px;
      margin-bottom: 8px;
    }
  }
}

.tea-upload-modal {
  .ant-modal-confirm-content {
    margin: 0 !important;
  }
  .tea-upload-modal-body {
    padding: 8px;
    list-style: none;
    max-height: 270px;
    overflow: auto;
    margin-top: 8px;
    margin-bottom: -10px;
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 8px;
      display: flex;

      .tea-upload-modal-img {
        width: 80px;
        border-radius: 8px;
        border: 1px solid #d9d9d9;
        padding: 8px;
      }
      .tea-upload-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: auto;
        padding-left: 20px;
        .tea-upload-modal-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 8px;
        }
      }
    }
  }
}
