@import '../global.scss';

.tea-transfer {
  width: 300px;
  height: 456px;
  display: inline-flex;
  flex-direction: column;
  .tea-transfer-title {
    font-size: 16px;
    font-weight: 500;
    color: rgba($color: $text-color, $alpha: 0.56);
    margin-bottom: 20px;
  }
  .tea-transfer-list {
    flex: 1 1 auto;
    padding: 20px 20px 0;
    background: $component-background;
    box-shadow: $component-box-shadow;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tea-transfer-item {
    opacity: 1;
    height: 45.5px;
    border-width: 1px;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    border-bottom: 1px solid $border-color-split;
    margin: 0 -20px;
    position: relative;
    &.tea-transfer-item-disabled {
      cursor: not-allowed;
      background-color: $disabled-back-color;
    }
  }
}

.tea-transfer-clear {
  .tea-transfer-item {
    & > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      width: calc(100% - 40px);
    }
    & > img {
      cursor: pointer;
      position: absolute;
      right: 20px;
    }
  }
}

.tea-transfer-checkbox {
  .tea-transfer-input {
    margin-bottom: 14px;
  }
  .tea-transfer-item {
    .ant-checkbox-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .ant-checkbox {
        top: auto;
        & + span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
        }
      }
    }
  }
}

.tea-transfer-mutilevel {
  .tea-transfer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    .ant-checkbox-wrapper {
      width: calc(100% - 48px);
    }
    .tea-transfer-leaf-icon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      img {
        margin-right: 6px;
      }
    }
  }
}

.tea-transfer-navbar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .tea-transfer-nav {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      max-width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      margin: 0 8px;
    }
  }
  .tea-transfer-nav-cur {
    a {
      cursor: auto;
      color: #999;
    }
  }
}
